
bin/
obj/
bin/Debug/net9.0

**/obj/
**/bin/

*.user
*.suo
*.userosscache
*.sln.docstates


.vscode/
.vs/


steamboxd.db


appsettings.Development.json
appsettings.*.json


*.log


.idea/


publish/


*.nupkg
packages/


*.dotnet/
SteamBoxd/steamboxd.db-shm
SteamBoxd/steamboxd.db-wal
SteamBoxd/bin/Debug/net9.0/SteamBoxd.dll
SteamBoxd/bin/Debug/net9.0/SteamBoxd.exe
SteamBoxd/obj/Debug/net9.0/SteamBoxd.AssemblyInfoInputs.cache
SteamBoxd.code-workspace
